body {
    margin: 0;
    padding: 0;
    background-color: #181414;
 }
* {
    box-sizing: border-box;
}
header {
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 99;
    border-radius: 5px;
    height: 11.5vh;
}
#NavContainer {
    /* border: 1px solid red; */
    height: 100%;
    display: grid;
    grid-template-columns: 20% 50% auto;
}
.containerlogo {
    overflow: hidden;
    height: 100%;
}
.containerlogo video {
    height: 160px;
    position: relative;
    margin-top: -15%;
}
#NavContainer figure{
    /* border: 1px solid red; */
    margin: 0;
}
.NavItem {
    /* border: 1px solid red; */
    padding-left: 12%;
    
    align-items: center;
}
.NavItem nav {
    /* border: 1px solid yellow; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.NavItem nav, a {
    font-family: BebasNeue-Regular; color: white; text-decoration: none;font-size: 20px;
}
 main {
    border: 1px solid red;
    padding-top: 5%;
    height: auto;
 }
 .carrusel-container {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      height: 607px;
      margin: 0px auto;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      background-color: #fff;
      position: relative;
    }

    .carrusel-inner {
      display: flex;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out;
    }

    .slide {
      min-width: 100%;
      height: 100%;
      padding: 20px;
    }
